#aboveTheFold{
    flex-direction: column;
    margin-top: 56px;
}

.badge{
    background-color: #F4F5FE;
    border: 1px dashed #6442E5;
    border-radius: 360px;
    font-size: 14px;
    color: #3B2290;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.badge:hover{
    background-color: #ebeafd;
}

.main-content .main-text h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -1.5px;

}

.sub-text-web p, .sub-text-mobile p{
    font-size: 16px;
    font-weight: 500;
    color: hsla(0, 0%, 6%, 0.80);
}

.sub-text-mobile{
    display: none;
}

.badge-mobile{
    display: none;
}

.main-cta{
    font-size: 16px;
    font-weight: 600;

}

.main-cta .sign-up{
    background-color: #158048;
    width: 192px;
    height: 48px;
    border-radius: 4px;
    border: 1.5px solid #16653C;
    color: #F0FDF5;
    cursor: pointer;
    box-shadow: 0.2px 0.2px 2px 2px #DCFCEA;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-cta .sign-up:hover {
    background-color: #16653C;
    color: #ffffff;
}

.main-cta .demo{
    background-color: #fff;
    width: 192px;
    height: 48px;
    border-radius: 4px;
    font-weight: 600;
    border: 1.5px solid #E7E7E7;
    color: hsla(0, 0%, 6%, 0.80);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.main-cta .demo:hover{
    color: hsla(0, 0%, 6%);
    background-color: #FAFAFA;
}

@media (max-width: 831px) { 
    .main-content .main-text h1{
        font-size: 32px;
        line-height: 40px;
    }

    .badge-web{
        display: none;
    }

    .badge-mobile{
        display:block;
    }

}


@media (max-width: 573px){
    .sub-text-web {
        display: none;
    }

    .sub-text-mobile{
        display:block;
    }

    
    
}

@media (max-width: 450px){
    .main-cta{
        flex-direction: column;
    }
    .main-cta .sign-up, .main-cta .demo{
        width: 100vw;
    }

}
